<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <div class="form">
      <form action="create" method="post">
        <input
          type="text"
          name="organization"
          id=""
          placeholder="organization"
        /><br />
        <input type="text" name="products" id="" placeholder="Products" /><br />
        <input
          type="text"
          name="marketValue"
          id=""
          placeholder="Market Value"
        /><br />
        <input type="text" name="address" id="" placeholder="address" /><br />
        <input type="text" name="country" id="" placeholder="Country" /><br />
        <input type="text" name="ceo" id="" placeholder="CEO" /><br />
        <input
          type="text"
          name="numberofemployees"
          id=""
          placeholder="Number of Employees"
        /><br />
        <button type="submit">CREATE</button>
      </form>
    </div>
  </body>
</html>
