<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration form</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <div class="form">
      <form action="delete" method="POST" id="delete-form">
        <input
          type="text"
          name="id"
          id="id"
          placeholder="Enter id to delete..."
        />
        <button type="submit" id="del-btn">DELETE</button>
      </form>
    </div>
  </body>
</html>
