<!-- This is the home page of the little app that stores data in a database With
option to search, edit and delete data -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration form</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <div class="menu">
      <nav>
        <ul>
          <li><a href="/create">CREATE DATA</a></li>
          <li><a href="/read">GET DATA</a></li>
          <li><a href="/edit">EDIT DATA</a></li>
          <li id="del"><a href="/delete">DELETE DATA</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
