<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration form</title>
    <link rel="stylesheet" href="/assets/search.css" />
  </head>
  <body>
    <div class="search">
      <form action="searchUser" method="get">
        <input type="text" name="user" id="searchparam" />
        <button>Search</button>
      </form>
    </div>
  </body>
</html>
