<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration form</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <div
      class="success"
      id="success"
      style="font-style: italic; font-weight: bold;"
    >
      Details about your organization <span><%= data.organization %></span>, has
      been stored successfully. Thanks!
    </div>
  </body>
</html>
